@model IEnumerable<Lab6.Models.Tweet>
<!doctype HTML>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>CST8359 Tweetstorm</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h3>Post a comment!</h3>
                <form asp-controller="Home" asp-action="PostTweet">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <textarea type="text" name="content" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit Tweet" class="btn btn-primary" />
                    </div>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8P_fNYgyCItOqjxsM8wRkYHG2rskv31GBKE56-hxdoYpqqgBci4ZfbDP-tSmFJrpmiS850s4126p0uQItmF7UuVitLuZoQOX0_A0Fo0CABPhLJ3YoR4Ras-biXvXMNRjlDNV4Shhg3hs5foCQnZ03qE">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h3>Tweets</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                @if (Model == null || Model.Count() == 0)
                {
                    <h1>No tweets available :(.</h1>
                }
                else
                {
                    <ul class="list-group">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item">
                                @item.Content
                                <br /><br />
                                By: @item.Username
                                <span class="badge">@item.TweetId</span>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</body>
</html>